<h1>Mensajes</h1>
<hr>

<div id="chat-mensajes">
  <div class="list-group-item"
  *ngFor="let msg of mensajes">
  {{ msg.de }}: {{ msg.cuerpo }}
  </div>
</div>

<form (ngSubmit)="enviar()">
  <input
  type="text"
  [(ngModel)]="texto"
  class="form-control chat-input"
  name="texto"
  placeholder="Mensaje..."
  autofocus
  >
</form>
