<h1>Usuarios</h1>
<hr>
<ul class="list-group">
  <li class="list-group-item"
  *ngFor="let usuario of usuariosActivosObs | async">
  {{ usuario.nombre }}
  <span class="badge badge-primary">
    {{ usuario.sala }}
  </span>
  <span class="badge badge-info">
    {{ usuario.id }}
  </span>
</li>
</ul>

{{ usuariosActivosObs | async | json }}
