/* You can add global styles to this file, and also import other style files */
body {
  margin-bottom: 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#chat-mensajes {
  height: 300px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow-y: scroll;
}

.chat-input {
  margin-top: 10px;
}
